#server
fastapi
uvicorn
python-multipart
requests

#model
numpy<2
scikit-surprise
pandas
scikit-learn
random
copy
pickle
umap
sentence_transformers
sklearn.preprocessing
sklearn.preprocessing
sklearn.cluster
concurrent.futures 